<h1> New translation </h1>

<form action="/wizard_translate">
  <label for="saying">Say what?</label>
  <input id="saying" name="saying">
  <label for="language">to this:</label>
  <input id="language" name="language">
  <button>Translate!</button>
</form>