<h1> New translation </h1>

<form action="/wizard_translate">
  <label for="saying">Say what?</label>
  <input id="saying" name="saying">

  <select name="language">
    <% @languages.each do |lang| %>
      <option value=<%=lang.code%>> <%=lang.name%></option>
    <% end %>
  </select>

  <button>Translate!</button>
</form>